@font-face {
    font-family: playFairDisplay;
    src: url("../fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf");
}

:root {
    --fit-cont: fit-content;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../svg/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100dvh;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
    font-family: playFairDisplay;
    font-size: large;
}

::-webkit-scrollbar {
    width: 15px;
    background: #ffc96b;
}

::-webkit-scrollbar-thumb {
    background: #111;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    padding: 1rem;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-size: larger;
    margin: 0;
}

.nav-list a {
    text-decoration: none;
    color: #111;
    padding: .7rem;
    border-radius: 30px;
    transition: all 150ms linear;
}

.nav-list a:hover {
    background: #111;
    color: #fff;
    font-weight: bold;
}

.button {
    color: #fff;
    background: #111;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    min-width: fit-content;
    padding: .7rem;
    font-size: large;
    cursor: pointer;
}

#log-in {
    transition: all 150ms linear;
}

#log-in:hover {
    background: #fff;
    color: #111;
}

.logo {
    width: 3.5rem;
    min-width: 2rem;
}

.title {
    font-size: 50px;
    margin-top: 10rem;
    opacity: 0;
}

.text {
    font-size: 2rem;
    font-style: italic;
    opacity: 0;
    margin-top: 4rem;
}

#kategorije {
    transition: all 150ms linear;
}

#kategorije:hover {
    background: #fff;
    color: #111;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #111;
    color: #fff;
    padding-block: 1.5rem;
}

@media (max-width: 400px) {
    .nav-list {
        display: none;
    }
}